<html>
  <head>
    <title>An Error Occured....</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap"
      rel="stylesheet"
    />
    <link href="/css/error.css" rel="stylesheet" />
  </head>
  <body>
    <div class="card">
      <div class="star top">
        <img src="https://svgshare.com/i/YdG.svg" />
      </div>
      <div class="star top-rg">
        <img src="https://svgshare.com/i/Ydc.svg" />
      </div>
      <div class="star bottom-lf">
        <img src="https://svgshare.com/i/YdG.svg" />
      </div>
      <div class="star bottom-rg">
        <img src="https://svgshare.com/i/Ydo.svg" />
      </div>
      <div class="container flex">
        <div class="error">
          <span><%= status %></span>
          <div>
            <a href="/">
              <button type="button">Home Page</button>
            </a>
          </div>
          <p>The page you are tring to find does not exist...</p>
        </div>
        <div class="img">
          <img src="https://svgshare.com/i/Ye7.svg" />
        </div>
      </div>
    </div>
  </body>
</html>
